.contacto {
    margin-bottom: 12.5%;
    @include grid (grid, 1fr 1fr, auto);
    .texto {
        font-size: 30px;
        padding: 60px;
        font-weight: 60px;
    }

    section {
        padding: 30px;
    }
}
