main {
    .hero {
        text-align: center;
        width: 100%;
        height: 680px;
        background-image: url(../img/yungas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            color: $color-terciario;
            font-size: 148px;
            font-weight: 750;
        }
    }

    .presentacion{
        margin: 5px;
        display: flex;
        justify-content: space-evenly;
        background-color: $color-terciario;
        align-items: center;
        div{
            width: 50%;
            h2{
                font-size: 45px;
            }
        }
    }

    .lugares {
        color: rgb(71, 150, 89);
        .boton:hover{
            background-color: $color-secundario;
            color: white;
        }
        div {
            a{
                text-decoration: none;
                color: black;
                padding: 10px;
                border: 2px solid black;
                border-radius: 8px;
            }
            img {
                width: 100%;
                height: 200px;
            }
        }
        h2 {
            background-color: $color-secundario;
            color: $color-terciario;
            text-align: left;
            padding: 3px;
            font-size: 30px;
        }

        .contenedor-lugares {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            div{
                font-size: 20px;
                width: 250px;
                height: 350px;
                border: 2px solid gray;
                text-align: center;
                margin: 20px;
                transition: 1s;
                h3{
                    margin-bottom: 20px;
                }
            }
            div:hover{
                transform: scale(1.1);
                box-shadow: 4px 9px 12px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 4px 9px 12px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 4px 9px 12px 0px rgba(0,0,0,0.75);
            }
        }
    }
    .fixed{
        position: fixed;
        bottom: 40px;
        right: 40px;
        img{
            width: 60px;
            transition: 1s;
        }
        img:hover{
            transform: scale(1.1);
        }    
    }
}