.mapa{
    @include grid (grid, 1fr 1fr, auto);
    margin: 10px;
    gap: 20px;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 50px;
        margin: 10px;
    }
}
